<div class="product-container">
    <div class="product-card">
      <img src="https://i.ibb.co/QYKqbsF/felpa.jpg" alt="Felpa">
      <div class="product-name">Felpa</div>
      <button class="add-to-cart" (click)="addToCart()">Aggiungi al Carrello</button>
    </div>
    
    <div class="product-card">
      <img src="https://i.ibb.co/vYmTvh3/image.png" alt="TShirt">
      <div class="product-name">T-Shirt</div>
      <button class="add-to-cart" (click)="addToCart()">Aggiungi al Carrello</button>
    </div>
  
    <div class="product-card">
      <img src="https://i.ibb.co/jDqyFBY/image.png" alt="Tazza">
      <div class="product-name">Tazza</div>
      <button class="add-to-cart" (click)="addToCart()">Aggiungi al Carrello</button>
    </div>
  </div>
  